.qty-circle-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #9da9b9;
        background-color: transparent;
        color: #9da9b9;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        padding: 0;
    }

    .qty-circle-btn:hover {
        background-color: #9da9b9;
        color: #000;
    }