{% extends "common.html" %} 

{% block styles %} 
{% load static %}
    <link rel="stylesheet" href="{% static 'products.css' %}" />
{% endblock styles %} 

{% block content %}
<div class="container text-center mt-4">
    <h1 class="mb-3">Все продукты</h1>
    <p class="text-muted mb-5">Текущее время: {{ current_time }}</p>

    <div class="d-flex flex-wrap gap-4 justify-content-center">
        {% for product in products %}
        <div class="card" style="width: 18rem">
            <img
                src="{{ product.productimage_set.all.0.image.url }}"
                class="card-img-top"
                alt="..."
            />
            <div class="card-body text-start">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">Цена: {{ product.price }}</p>
                <a href="#" class="btn btn-primary">Перейти к товару</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
